<div class="container">
    <h1>Feed</h1>
    <% if user_signed_in? %>
    <%= link_to 'New Tweet', new_tweet_path , class: "btn btn-primary", style: "float:right;"%>
    <% end %>
    <div class="row">
    <div class="col-sm-4">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">  <%= current_user.name %> </h4>
        <h5>  <%= current_user.email %> </h5>
        <p class="card-text">Member since <%= current_user.created_at.to_datetime.strftime('%b %Y') %>
        </p>
        <a href="#" class="btn btn-primary">Visit Profile</a>
      </div>
    </div>

    </div>
    </div>

    <ul class="list-group">
        <% @tweets.each do |tweet| %>
          <li class="list-group-item">
            <%= link_to tweet.user.email, user_path(tweet.user.username) %>
            <%= content_tag(:p, tweet.content, class: "text-warning") %>
            <%= link_to 'Show', tweet %>
            <% if tweet.user == current_user %>
              <%= link_to 'Edit', edit_tweet_path(tweet) %>
              <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
              </li>
        <% end %>
    </ul>

    <br>


    </div>