<div class="container">
<h1> <%= @user.email %> </h1>
<p> <%= @user.username %> </p>
<p> <%= @user.name %> </p>
<h4> Tweets: </h4>
<ul class="list-group">
    <% @tweets.each do |tweet| %>
      <li class="list-group-item">
        <%= link_to tweet.user.email, user_path(tweet.user.username) %>
        <%= content_tag(:p, tweet.content, class: "text-warning") %>
        <%= link_to 'Show', tweet %>
        <% if tweet.user == current_user %>
          <%= link_to 'Edit', edit_tweet_path(tweet) %>
          <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </li>
    <% end %>
</ul>
</div>