<div class="container">
<p id="notice"><%= notice %></p>

<h1>Items</h1>
<%= link_to 'New Item', new_item_path, class: "btn btn-primary", style: "float:right;" %>
<br>
    <ul class="list-group">
    <% @items.each do |item| %>
      <li class="list-group-item">
        <%= content_tag(:h4, item.user.email, class: "text-success") %>
        <%= content_tag(:p, item.text, class: "text-warning") %>
        <%= content_tag(:p, item.url, class: "text-danger") %>
        <%= link_to 'Show', item %>
        <% if item.user == current_user %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </li>
    <% end %>
</ul>


</div>